aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiohttp-retry==2.9.1
aiosignal==1.3.2
attrs==25.3.0
beautifulsoup4==4.13.3
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
finnhub-python==2.4.23
Flask==3.1.0
flask-cors==5.0.1
fonttools==4.56.0
forex-python==1.8
frozendict==2.4.6
frozenlist==1.5.0
idna==3.10
investpy==1.0.8
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.8
lxml==5.3.1
MarkupSafe==3.0.2
matplotlib==3.10.1
multidict==6.2.0
multitasking==0.0.11
numpy==2.2.4
packaging==24.2
pandas==2.2.3
peewee==3.17.9
pillow==11.1.0
platformdirs==4.3.7
propcache==0.3.0
pycoingecko==3.2.0
PyJWT==2.10.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytube==12.1.3
pytz==2025.1
requests==2.32.3
setuptools==77.0.1
simplejson==3.20.1
six==1.17.0
soupsieve==2.6
ta==0.11.0
twilio==9.5.1
typing_extensions==4.12.2
tzdata==2025.1
Unidecode==1.3.8
urllib3==2.3.0
Werkzeug==3.1.3
yarl==1.18.3
yfinance==0.2.54
yt-dlp==2025.2.19
